<!DOCTYPE html >
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>2021年日历</title>
    <link rel="stylesheet" href="../static/css/test04.css">

</head>
<body>
<div class="signs">
    <div class="sign"></div>
</div>
<div id='calendar'>
    {{ data | safe }}
</div>

<script type="text/javascript" src="../static/js/jquery/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="../static/js/index.js"></script>
</body>
</html>
