<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta content="always" name="referrer">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>万年历</title>
    <link href="/static/css/wnl.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/cal.css">
    <script src='/static/js/cal.js'></script>
</head>

<body>
<div id="main">

    <div id="so_top">

    </div>
    <ul id="m-result" class="result">
        <li id="first" class="res-list">
            <div id="mohe-rili" class="g-mohe" data-mohe-type="rili">

                <div class="mh-rili-wap mh-rili-only " data-mgd='{"b":"rili-body"}'>
                    <div class="mh-tips">
                        <div class="mh-loading">
                            <i class="mh-ico-loading"></i>正在为您努力加载中...
                        </div>
                        <div class="mh-err-tips">亲，出了点问题~ 您可
                            <a href="#reload" class="mh-js-reload">重试</a>
                        </div>
                    </div>
                    <div class="mh-rili-widget">

                        <div class="mh-doc-bd mh-calendar">
                            <div class="mh-hint-bar gclearfix">
                                <div class="mh-control-bar">
                                    <div class="mh-control-module mh-year-control mh-year-bar">
                                        <a href="#prev-year" action="prev" class="mh-prev"
                                           data-md='{"p":"prev-year"}'></a>
                                        <div class="mh-control">
                                            <i class="mh-trigger"></i>
                                            <div class="mh-field mh-year" val=""></div>
                                        </div>
                                        <a href="#next-year" action="next" class="mh-next"
                                           data-md='{"p":"next-year"}'></a>
                                        <ul class="mh-list year-list" style="display:none;"
                                            data-md='{"p":"select-year"}'></ul>
                                    </div>
                                    <div class="mh-control-module mh-month-control mh-mouth-bar">
                                        <a href="#prev-month" action="prev" class="mh-prev"
                                           data-md='{"p":"prev-month"}'></a>
                                        <div class="mh-control">
                                            <i class="mh-trigger"></i>
                                            <div class="mh-field mh-month" val=""></div>
                                        </div>
                                        <a href="#next-month" action="next" class="mh-next"
                                           data-md='{"p":"next-month"}'></a>
                                        <ul class="mh-list month-list" style="display:none;"
                                            data-md='{"p":"select-month"}'></ul>
                                    </div>

                                    <div class="mh-btn-today" data-md='{"p":"btn-today"}'>返回本月</div>
                                </div>
                                <div class="mh-time-panel">
                                    <dl class="gclearfix">
                                        <dt class="mh-time-monitor-title">北京时间:</dt>
                                        <dd class="mh-time-monitor"></dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="mh-cal-main">
                                <div class="mh-col-1 mh-dates">
                                    <ul class="mh-dates-hd gclearfix">
                                        <li class="mh-days-title">一</li>
                                        <li class="mh-days-title">二</li>
                                        <li class="mh-days-title">三</li>
                                        <li class="mh-days-title">四</li>
                                        <li class="mh-days-title">五</li>
                                        <li class="mh-days-title mh-weekend">六</li>
                                        <li class="mh-days-title mh-last mh-weekend">日</li>
                                    </ul>
                                    <ol class="mh-dates-bd"></ol>
                                </div>
                                <div class="today-board">
                                    <div class="mh-almanac-base mh-almanac-main">
                                        <div class="mh-dates-bar"><span class="mh-date"></span></div>
                                        <div class="mh-date-show-panel"></div>
                                        <div class="mh-desc">
                                            <div class="mh-lunar"></div>
                                            <div class="mh-lunar-ganzhi"></div>
                                            <div class="mh-other-info"><span class="mh-animal-year">[<em
                                                    class="mh-animal"></em>]</span><span class="mh-astro"></span></div>
                                            <div class="mh-lunar-term"></div>
                                        </div>
                                    </div>

                                    <div class="mh-almanac-extra" style="display:none;">
                                        <div class="mh-suited">
                                            <h3 class="mh-st-label">宜</h3>
                                            <ul class="gclearfix"></ul>
                                        </div>
                                        <div class="mh-tapu">
                                            <h3 class="mh-st-label">忌</h3>
                                            <ul class="gclearfix"></ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="today-board">
                                    <div class="mh-almanac-base mh-almanac-main">
                                        <div class="mh-dates-bar"><span class="mh-date"></span></div>
                                        <div class="mh-date-show-panel"></div>
                                        <div class="mh-desc">
                                            <div class="mh-lunar"></div>
                                            <div class="mh-lunar-ganzhi"></div>
                                            <div class="mh-other-info"><span class="mh-animal-year">[<em
                                                    class="mh-animal"></em>]</span><span class="mh-astro"></span></div>
                                            <div class="mh-lunar-term"></div>
                                        </div>
                                    </div>

                                    <div class="mh-almanac-extra" style="display:none;">
                                        <div class="mh-suited">
                                            <h3 class="mh-st-label">宜</h3>
                                            <ul class="gclearfix"></ul>
                                        </div>
                                        <div class="mh-tapu">
                                            <h3 class="mh-st-label">忌</h3>
                                            <ul class="gclearfix"></ul>
                                        </div>
                                    </div>
                                </div>


                                <div class="mh-col-2 mh-almanac" style="display: none;">
                                    <div class="mh-almanac-base mh-almanac-main"></div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="mh-rili-foot">
                </div>
            </div>
            <script src="/static/js/cal2.js"></script>
        </li>
    </ul>
</div>
</body>
<script type="text/javascript" src='/static/js/jquery/jquery-1.8.3.min.js'></script>
<script type="text/javascript">
    window.onload = function () {
        var bd = document.getElementsByClassName('mh-dates-bd')[0];

        var n = getNowFormatDate(new Date());
        var t = getNowFormatDate(new Date(new Date().getTime() + 24 * 3600 * 1000))

        var today = getNowFormatDate(new Date());

        $.get('/date?today=' + n + '&tomorrow=' + t, function (result) {
            var board = $('.today-board');
            for (var i = 0; i < result.length; i++) {
                board.eq(i).find('.mh-date').html(result[i]['Date']);
                board.eq(i).find('.mh-date-show-panel').html(parseInt(result[i]['Date'].split('-')[2]));
                board.eq(i).find('.mh-lunar').html('农历' + result[i]['LMonth'] + result[i]['LDay']);
                board.eq(i).find('.mh-lunar-ganzhi').html(result[i]['TianGanDiZhiYear'] + '年');
                board.eq(i).find('.mh-animal').html(result[i]['LYear']);
                board.eq(i).find('.mh-astro').html(result[i]['WestStar']);
                board.eq(i).find('.mh-suited').find('.gclearfix').html(result[i]['Yi']);
                board.eq(i).find('.mh-tapu').find('.gclearfix').html(result[i]['Ji']);
            }
        })

        bd.addEventListener('click', function (e) {
            e = e || window.event;
            var cur_date;
            var tom_date;
            if (e.target.getAttribute('class') == 'mh-on') {
                cur_date = e.target.getAttribute('date');
            } else {
                cur_date = e.target.parentNode.getAttribute('date');
            }
            if (cur_date) {
                times = cur_date.split('/');
                for (var i = 0; i < times.length; i++) {
                    if (times[i].length < 2) {
                        times[i] = '0' + times[i];
                    }
                }
                today = times.join('-');
            }
            d = new Date(today);
            t = new Date(d.getTime() + 24 * 3600 * 1000);
            tomorrow = getNowFormatDate(t);

            $.get('/date?today=' + today + '&tomorrow=' + tomorrow, function (result) {
                var board = $('.today-board');
                for (var i = 0; i < result.length; i++) {
                    board.eq(i).find('.mh-date').html(result[i]['Date']);
                    board.eq(i).find('.mh-date-show-panel').html(parseInt(result[i]['Date'].split('-')[2]));
                    board.eq(i).find('.mh-lunar').html('农历' + result[i]['LMonth'] + result[i]['LDay']);
                    board.eq(i).find('.mh-lunar-ganzhi').html(result[i]['TianGanDiZhiYear'] + '年');
                    board.eq(i).find('.mh-animal').html(result[i]['LYear']);
                    board.eq(i).find('.mh-astro').html(result[i]['WestStar']);
                    board.eq(i).find('.mh-suited').find('.gclearfix').html(result[i]['Yi']);
                    board.eq(i).find('.mh-tapu').find('.gclearfix').html(result[i]['Ji']);
                }
            })
        })
    }

    function getNowFormatDate(date) {
        var seperator1 = "-";
        var year = date.getFullYear();
        var month = date.getMonth() + 1;
        var strDate = date.getDate();
        if (month >= 1 && month <= 9) {
            month = "0" + month;
        }
        if (strDate >= 0 && strDate <= 9) {
            strDate = "0" + strDate;
        }
        var currentdate = year + seperator1 + month + seperator1 + strDate;
        return currentdate;
    }


</script>

</html>
