<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>阿里百秀</title>

    <!-- 引入图标 -->
    <link rel="icon" href="/static/cat_logo.ico">

    <!-- 引入bootstrap -->
    <link rel="stylesheet" href="/static/css/bootstrap/bootstrap-5.1.3-dist.min.css">
    <script src="/static/js/bootstrap/bootstrap-5.1.3-dist.min.js"></script>

    <!-- 引入自定义文件 -->
    <link rel="stylesheet" href="/static/css/index.css">

    <!-- 引入bootstrap图标库 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <header class="col-lg-2">
                <div class="logo">
                    <img src="/static/images/logo.png" alt="" class="d-none d-md-none d-lg-block">
                    <span class="d-md-block d-lg-none">阿里百秀</span>
                </div>

                <div class="nav">
                    <ul>
                        <li><a href="#" class="bi-camera">生活馆</a></li>
                        <li><a href="#" class="bi-image">自然汇</a></li>
                        <li><a href="#" class="bi-phone">科技潮</a></li>
                        <li><a href="#" class="bi-gift">奇趣事</a></li>
                        <li><a href="#" class="bi-hearts">美食节</a></li>
                    </ul>
                </div>
            </header>
            <article class="col-lg-7">
                <div class="news">
                    <ul>
                        <li>
                            <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                  <div class="carousel-item active">
                                    <img src="/static/uploads/b1.jpg" class="d-block w-100" alt="...">
                                    <p>
                                        大前端XIU主题
                                    </p>
                                </div>
                                  <div class="carousel-item">
                                    <img src="/static/uploads/b2.png" class="d-block w-100" alt="...">
                                    <p>
                                        37000+用户选购
                                    </p>
                                </div>
                                  <div class="carousel-item">
                                    <img src="/static/uploads/b3.jpg" class="d-block w-100" alt="...">
                                    <p>        
                                        龙井好茶！！！
                                    </p>
                                </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                  <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                  <span class="visually-hidden">Next</span>
                                </button>
                              </div>
                        </li>
                        <li>
                            <div>1</div>
                        </li>
                        <li>
                            <div>2</div>
                        </li>
                        <li>
                            <div>3</div>
                        </li>
                        <li>
                            <div>4</div>
                        </li>
                    </ul>
                </div>
            </article>
            <aside class="col-lg-3">3</aside>
        </div>
    </div>
</body>
</html>