<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test01</title>
    <link rel="stylesheet" href="../static/css/57/cs1.css">
</head>
<body>
    <form action='/save' method='get' enctype='application/x-www-form-urlencoded'>
        <div id="money" class="clearfix">
            <p>请输入存钱金额：</p>
            <input type='text' name='money' class="text">
            <input type='submit' id="submit">
        </div>
        <div id="data">{{ data }}</div>
    </form>
</body>
</html>