<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test01</title>
    <link rel="stylesheet" href="../static/css/58/cs1.css">
</head>
<body>
    <form action='/gift' method='get' enctype='application/x-www-form-urlencoded'>
        <div id="gift" class="clearfix">
            <p>请输入想要的礼物:</p>
            <input type='text' name='gift' class="text">
            <input type='submit' id="submit">
        </div>
        <div id="data">{{ data }}</div>
    </form>
</body>
</html>