div {
    display: block;
}
.les-let {
    width: 810px;
    float: left;
}
.s-mod {
    border: 1px solid #ddd;
    margin-top: 200px;
    padding: 20px;
}
.mod {
    margin-bottom: 20px;
}
.c:after {
    content: "";
    display: table;
    clear: both;
}

.s-rs-ul .pic {
    position: relative;
    z-index: 11;
    float: left;
    width: 200px;
    margin-right: 30px;
    height: 133.33px;
}

img {
    max-width: 100%;
    border: none;
    vertical-align: middle;
}

body, section, article, aside, ul, ol, li, p, h1, h2, h3, h4, h5, h6, img, textarea, input, select, form {
    margin: 0;
    padding: 0;
}

a {
    color: #000;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    outline: none;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}

li {
    text-align: -webkit-match-parent;
}
ul, ol {
    list-style: none;
}

body, input, textarea, select {
    font: 12px/1.5 Microsoft yahei,arial;
    color: #000;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/*w文字样式*/
a:hover {
    /* color: #f2473d; */
}

a {
    color: #000;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    outline: none;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
.s-rs-ul .info-t {
    padding-top: 10px;
    font-size: 16px;
    font-weight: bold;
}

p {
    word-break: break-all;
}
.s-rs-ul .info-itm {
    line-height: 35px;
    font-size: 16px;
    padding-left: 227px;
    width: 350px;
    height: 120px;
}


element.style {
    width: 300px;
}

.s-rs-ul .itm-txt {
    display: table-cell;
    width: 160px;
    line-height: 1.5;
}

.s-rs-ul .itm {
    display: table-cell;
    position: relative;
    width: 60px;
}
.info-right {
    position: relative;
    top: -105px;
    left: 350px;
}
