<html>
<head>
<meta charset="UTF-8" />
<title>GDP平均值</title>
<script src="/static/js/jquery/jquery.min.js"></script>
<script src="/static/js/highcharts.js"></script>
</head>
<body>
<div id="container" style="width: 800px; height: 400px; margin: 0 auto"></div>
<script language="JavaScript">
$(document).ready(function() {
   var chart = {
      type: 'column'
   };
   var title = {
      text: '2017-2019年每个省份的GDP平均值'
   };
   var subtitle = {
      text: '统计数据'
   };
   var xAxis = {
      type: 'category',
      labels: {
         rotation: -45,
         style: {
            fontSize: '13px',
            fontFamily: 'Verdana, sans-serif'
         }
      }
   };
   var yAxis ={
      labels:{step:50000},
      title: {
        text: 'GDP平均值'
      }
   };
   var tooltip = {
      pointFormat: 'GDP: <b>{point.y:.1f} 亿元</b>'
   };
   var credits = {
      enabled: false
   };
   var series= [{
            name: 'GDP(亿元)',
            data: [
            ],
            dataLabels: {
                enabled: true,
                rotation: -90,
                color: '#FFFFFF',
                align: 'right',
                format: '{point.y:.2f}', // one decimal
                y: 10, // 10 pixels down from the top
                style: {
                    fontSize: '13px',
                    fontFamily: 'Verdana, sans-serif'
                }
            }
   }];

   var json = {};
   json.chart = chart;
   json.title = title;
   json.subtitle = subtitle;
   json.xAxis = xAxis;
   json.yAxis = yAxis;
   json.tooltip = tooltip;
   json.credits = credits;
   json.series = series;
      $.get('/data',function (result) {
       for(var i=0;i<result.data.length;i++){

           series[0].data.push([result.data[i]._id,parseFloat(result.data[i].AVG_GDP.toFixed(2))]);
       }
       json.series = series;
       json.yAxis = yAxis;
       $('#container').highcharts(json);
   });

});
</script>
</body>
</html>