<html>
<head>
<meta charset="UTF-8" />
<title>GDP平均值</title>
<script src="/static/js/jquery/jquery.min.js"></script>
<script src="/static/js/highcharts.js"></script>
</head>
<body>
<div id="container" style="width: 550px; height: 400px; margin: 0 auto"></div>
<script language="JavaScript">
$(document).ready(function() {
   var title = {
      text: '2017-2019每年全国粮食总产量'
   };
   var subtitle = {
      text: '国家数据'
   };
   var xAxis = {
      categories: ['2017','2018','2019']
   };
   var yAxis = {
      title: {
         text: ' 单位(万吨)'
      },
      plotLines: [{
         value: 0,
         width: 2,
         color: '#808080'
      }]
   };

   var tooltip = {
       pointFormat: '粮食产量: <b>{point.y:.2f} 万吨</b>',
   };

   var legend = {
      layout: 'vertical',
      align: 'right',
      verticalAlign: 'middle',
      borderWidth: 0
   };

   var series =  [
      {
         name: '粮食产量',
         data:[]
      }
   ];

   var json = {};

   json.title = title;
   json.subtitle = subtitle;
   json.xAxis = xAxis;
   json.yAxis = yAxis;
   json.tooltip = tooltip;
   json.legend = legend;

   $.get('/data',function (result) {
       var data=[result.data[2].sum_grain,result.data[0].sum_grain,result.data[1].sum_grain];
       series[0].data=data;
       json.series = series;
       $('#container').highcharts(json);
   });

});
</script>
</body>
</html>