html, body {
    width: 100%;
    height: 100%;
}

#father {
    width: 100%;
    height: 100%;
    position: relative;
}

img {
    width: 100%;
}

.appListWrap {
    width: 52%;
    height: 47%;
    position: absolute;
    left: 33%;
}

#great {
    top: 80%;
}

#hot {
    top: 168%;
}

ul, li {
    list-style: none;
}

.appList {
    overflow: hidden;
    padding: 18px 10px 32px 40px;
    margin: 0;
    padding-left: 10px;
    padding-top: 0px;
}

.appList li {
    width: 106px;
    height: 120px;
    float: left;
    margin-top: 20px;
}

.appList h5 {
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.appIcon {
    width: 72px;
    height: 72px;
}

.appList p {
    margin: 0;
    padding: 0;
}