<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>星期</title>

    <script src="../static/js/jquery/jquery.min.js"></script>
    <script src="../static/js/snow.js"></script>
    <link rel="stylesheet" href="../static/css/time.css">

</head>
<body>
<div class="snow-container">


</div>

<div class="clock">
    <div class="dot"></div>
    <div class="hour_wheel"></div>
    <div class="min_wheel"></div>
    <div class="sec_wheel"></div>
    <div class="out_ring"></div>
    <div class="timebox"></div>
    <div class="week">{{ week }}</div>
</div>
</body>
<script>
    var clock = document.querySelector(".clock");
    var hourWheel = document.querySelector(".hour_wheel");
    var minWheel = document.querySelector(".min_wheel");
    var secWheel = document.querySelector(".sec_wheel");
    var outRing = document.querySelector(".out_ring");
    var timeBox = document.querySelector(".timebox");

    var R = clock.offsetHeight / 2;
    var PI = Math.PI;
    // sin@=y/R;
    // y = r*sin@;
    // y=Math.sin(2*PI/360*deg) * R;

    for (var i = 1; i <= 12; i++) {
        var circle = document.createElement("div");
        var deg = 30 * (i - 3);
        circle.className = "circle";
        circle.innerHTML = convert(i);
        clock.appendChild(circle);
        circle.style.left = Math.cos(2 * PI / 360 * deg) * R + R - circle.offsetHeight / 2 + "px";
        circle.style.top = Math.sin(2 * PI / 360 * deg) * R + R - circle.offsetHeight / 2 + "px";
    }

    for (var i = 1; i <= 60; i++) {
        var spot = document.createElement("div");
        var deg = 6 * i;
        spot.className = "spot";
        clock.appendChild(spot);
        spot.style.left = Math.cos(2 * PI / 360 * deg) * R - spot.offsetHeight / 2 + R - 1 + "px";
        spot.style.top = Math.sin(2 * PI / 360 * deg) * R - spot.offsetHeight / 2 + R - 1 + "px";
        spot.style.transform = `rotate(${deg}deg)`;
    }
    outRing.style.width = clock.offsetWidth + 2 * spot.offsetWidth + 2 + "px";
    outRing.style.height = clock.offsetHeight + 2 * spot.offsetWidth + 2 + "px";
    outRing.style.left = -2 * spot.offsetWidth + "px";

    showtime();

    function showtime() {
        var date = new Date();
        var hour = date.getHours() * 1 > 9 ? date.getHours() : "0" + date.getHours();
        var min = date.getMinutes() * 1 > 9 ? date.getMinutes() : "0" + date.getMinutes();
        var sec = date.getSeconds() * 1 > 9 ? date.getSeconds() : "0" + date.getSeconds();
        var hourDeg = hour * 30 + min / 60 * 30 - 90;
        var minDeg = min * 6 - 90;
        var secDeg = sec * 6 - 90;
        hourWheel.style.transform = "rotate(" + hourDeg + "deg)";
        minWheel.style.transform = "rotate(" + minDeg + "deg)";
        secWheel.style.transform = "rotate(" + secDeg + "deg)";
        timeBox.innerHTML = `${hour}:${min}:${sec}`;
    }

    setInterval(showtime, 1000);

    function convert(num) {
        var ans = "";
        var k = Math.floor(num / 1000);
        var h = Math.floor((num % 1000) / 100);
        var t = Math.floor((num % 100) / 10);
        var o = num % 10;
        var one = ["I", "II", "III", "IV", "V", "VI", "VII", "VIII", "IX"];
        var ten = ["X", "XX", "XXX", "XL", "L", "LX", "LXX", "LXXX", "XC"];
        var hundred = ["C", "CC", "CCC", "CD", "D", "DC", "DCC", "DCCC", "CM"];
        var thousand = "M";
        for (var i = 0; i < k; i++) {
            ans += thousand;
        }
        if (h)
            ans += hundred[h - 1];
        if (t)
            ans += ten[t - 1];
        if (o)
            ans += one[o - 1];
        return ans;
    }
</script>
</html>