<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>黑猫编程</title>
    <script src="/static/js/jquery-3.6.3.min.js"></script>
    <style>
        div{
            width: 200px;
            height: 200px;

            margin: 10px;
        }

        div:nth-child(odd){
            background-color: aqua;
        }
    </style>
</head>
<body>
    <div>1</div>
    <div>2</div>
    <div>3</div>
    <div>4</div>
    <div>5</div>
    <div>6</div>
    <div>7</div>
    <div>8</div>

    <script>
        $(function(){
            $('div').click(function(){
                $(this).css({'backgroundColor':'red'}).siblings().css({'backgroundColor':'yellow'});
            });
        });
    </script>
</body>

</html>