<html><head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Space</title>
	<link rel="stylesheet" href="static/css/style.css" type="text/css">
	<script src="static/js/jquery/jquery.min.js" type="text/javascript"></script>
</head>
<body>
<div class="adcenter"></div>
	<div id="page">
		<div id="body" class="home">
			<div class="header">
				<div>
					<img src="static/images/satellite.png" alt="" class="satellite">
					<h1>2210年3月24日</h1>
					<h2>未来世界</h2>
					<a class="more">Read More</a>
					<h3>SPACECRAFT</h3>
					<ul>
						<li class="first-li">
							<a style="position: relative;" href="/time?day=100&hour=11&minute=20">
								<img src="static/images/project-image1.jpg" alt="">
								<div class="time" style="position: absolute;top: 35px;left: 0px;text-align:center;width: 235px;height: 156px;color:#fff;"><span id="day">100</span>天<span id="hour">11</span>小时<span id="minute">20</span>分</div>
							</a>

						</li>
						<li class="second-li">
							<a style="position: relative;">
								<img src="static/images/project-image4.jpg" alt="">
								<div class="time" style="position: absolute;top: 35px;left: 0px;text-align:center;width: 235px;height: 156px;color:#fff;"><span>待规划...</span></div>
							</a>
						</li>
						<li class="second-li">
							<a style="position: relative;">
								<img src="static/images/project-image3.jpg" alt="">
								<div class="time" style="position: absolute;top: 35px;left: 0px;text-align:center;width: 235px;height: 156px;color:#fff;"><span>待规划...</span></div>

							</a>
						</li>
						<li class="second-li">
							<a style="position: relative;">
								<img src="static/images/project-image2.jpg" alt="">
								<div class="time" style="position: absolute;top: 35px;left: 0px;text-align:center;width: 235px;height: 156px;color:#fff;"><span>待规划...</span></div>

							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="copyrights">Collect from <a href="#" title="网站模板"></a></div>
			<div class="body">
				<div>
					<h1>OUR MISSION</h1>
					<p>航天科学能揭示宇宙的形成与演化，探索生命的起源以及空间环境对人类生存环境的影响，对天文学、宇宙学、物质科学、生命科学和思想科学的发展有巨大的推动作用。</p>
				</div>
			</div>
		</div>
	</div>
<script src="static/js/index.js" type="text/javascript"></script>
</body></html>
