<!DOCTYPE html>
<html>
<head>
    <title>数据展示</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/css/table.css">
</head>
<body>
<header>
    <h2>数据展示</h2>
</header>
<table>
    <thead>
    <tr>
        {% if data is number() %}
            <th>{{ data }}</th>
        {% elif data is mapping() %}
            {% for key in data.keys() %}
                <th>{{ key }}</th>
            {% endfor %}
        {% elif data is sequence() %}
            {% if data[0] is mapping() %}
                {% for key in data[0].keys() %}
                    <th>{{ key }}</th>
                {% endfor %}
            {% endif %}
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% if data is mapping() %}
        <tr>
            {% for value in data.values() %}
                <td>{{ value }}</td>
            {% endfor %}
        </tr>
    {% elif data is sequence() %}
        {% if data[0] is mapping() %}
            {% for dic in data %}
                <tr>
                    {% for value in dic.values() %}
                        <td>{{ value }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td>{{ data }}</td>
            </tr>
        {% endif %}
    {% endif %}
    </tbody>
</table>
</body>
</html>
