/* 网页头部 */
.header{
    width: 100%;
    height: 87px;
    background-color: #FDEDDC;
    position: fixed;
    z-index: 999;
}

.header-topbar{
    width: 80%;
    height: 87px;
    /* background-color: aqua; */
    margin: auto;
}

.header-topbar-logo{
    width: 104px;
    height: 52px;
    /* background-color: blueviolet; */
    margin-top: 18px;
    background: url(/static/images/logo1.png) no-repeat;
    background-size: contain;
    float: left;
}

/* 网页头部: 导航条 */
.header-topbar-nav{
    width: 80%;
    height: 60px;
    /* background-color:brown; */
    float: right;
    margin: 15px 40px 0 0;
    
}

.header-topbar-nav>ul>li{
    width: 20%;
    float: left;
    line-height: 60px;
    font-size: 16px;
    position: relative;
    left: 150px;
   
}

.header-topbar-nav>ul>li>a{
    color: #646464;
}

.header-topbar-nav>ul>li>a:hover{
    color: #A30000;
}

/* 轮播图 */
.banner{
    width: 100%;
    position: relative;
    top: 80px;
    height: 610px;
    /* background-color: aqua; */
}

.banner-imglist{
    width: 100%;
    position: relative;
}

.banner-imglist img{
    width: 100%;
    position: absolute;
}

/* 圆点列表 */
.banner-dotlist{
    width: 100px;
    height: 15px;
    /* background-color: red; */
    position: absolute;
    /* top: 400px; */
    bottom: 15px;
    left: 50%;
    margin-left: -50px;
}

.banner-dotlist>ul>li{
    width: 15px;
    height: 15px;
    float: left;
    border: 1px solid white;
    /* border: 1px solid red; */
    margin-left: 8px;
    border-radius: 50%;
}

/* 前后翻页 */
.banner-pre, .banner-next {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 35px;
    font-size: 30px;
    position: absolute;
    top: 310px;
    color: white;
    border: 1px solid white;
    border-radius: 50%;
}

.banner-pre{
    left: 40px;
}

.banner-next{
    right: 40px;
}