/* 通用设置 */
*{
    padding: 0;
    margin: 0;
}

div,span{
    font-family: 楷体;
    /* text-align: center; */
    font-size: 20px;
    color: white;
}

/* 最外侧大盒子 版心（居中） */
.container{
    width: 1350px;
    height: 720px;
    background-color: bisque;
    background: url(/static/images/bg.jpg) no-repeat;
    background-size: cover;
    margin: auto;
    padding-top: 20px;
    box-sizing: border-box;
}

/* 左侧盒子 三国英雄人物 标题 */
.container-left{
    width: 60px;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.3);
    /* background-color: black; */
    margin-left: 190PX;
    float: left;
}

.container-left>h1{
    margin-top: 170px;
    font-size: 30px;
}

/* 中间大盒子main */
.container-main{
    width: 800px;
    height: 600px;
    /* background-color: aqua; */
    float: left;
    margin-left: 40px;
}

.container-main-top>div{
    display: inline-block;
    width: 150px;
    height: 300px;
    /* box-sizing: border-box;
    border: 2px solid black; */
}

.container-main-bottom>div{
    display: inline-block;
    width: 150px;
    height: 300px;
}

.container-main img{
    width: 156px;
    height: 260px;
    border: 2px solid black;
}

.container-main span{
    width: 160px;
    height: 36px;
    background-color: rgba(0, 0, 0, 0.8);
    display: inline-block;
    border: 2px solid black;
    box-sizing: border-box;
    /* border-bottom: none; */
    position: relative;
    top: -4px;
    text-align: center;
    line-height: 36px;
}

/* 左侧盒子 英雄职业 */
.container-right{
    width: 100px;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.5);
    float: left;
    margin-left: 40px;
    box-sizing: border-box;
    padding-top: 10px;
}

.container-right>div{
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
}